.task-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 12px 7px;
  border-left: 5px solid #eeecec;
  background: #eeecec;
  border-radius: 5px;
  margin-bottom: 10px;
  user-select: none;
}
.task-item > .first_box h4 {
  font-size: 20px;
  margin-bottom: 7px;
  font-stretch: expanded;
}
.task-item > .first_box p {
  font-size: 14px;
  font-style: italic;
  color: #778899;
}
.task-item > .last_box fa-icon {
  color: red;
  font-size: 20px;
  cursor: pointer;
}
