.container {
  background-color: #212121;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container > .task-box {
  min-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.task-box app-tasks {
  flex: 1;
  overflow: hidden auto;
  padding: 10px 0;
}
.task-box app-tasks::-webkit-scrollbar {
  width: 5px;
}
.task-box app-tasks::-webkit-scrollbar-thumb {
  background-color: #21212178;
}
.task-box app-add-task {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000098;
  display: flex;
  justify-content: center;
  align-items: center;
}
